<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Smart Umbrella Stand</title>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@300;500;700;800;900&display=swap"
        rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->



    <!-- ========================== -->
</head>

<body>
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/" id="brand_item">Smart Umbrella Stand</a>
            <a class="navbar-brand" href="/member#btn_record" id="renting_item" style="display: none;">Renting Now</a>
            <img src="https://images.plurk.com/4uAXyIP1vYbrmCzXrzjS1e.png" style="display: none;" id="renting_icon"
                alt="Table Icon" />
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item" id="rent_item" style="display: none;"><a class="nav-link" href="/rent">Rent</a>
                    </li>
                    <li class="nav-item" id="member_item" style="display: none;"><a class="nav-link"
                            href="/member">Member</a></li>
                    <li class="nav-item" id="signup_item" style="display: block;"><a class="nav-link"
                            href="/signup">Sign-up</a></li>
                    <li class="nav-item" id="login_item" style="display: block;"><a class="nav-link"
                            href="/login">Login</a></li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/fund">About</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header - set the background image for the header in the line below-->
    <!-- <header class="py-5 bg-image-full fadeInDown"
        style="background-image: url('https://images.plurk.com/16l3TukgY6FI71lTOSSvAS.png')">
         RE:songtien:1214 -->
    <!-- <div class="text-center my-5">
            <img class="img-fluid rounded-circle mb-4" src="https://images.plurk.com/4Lny202EtQjBtApbyxC3W5.png"
                alt="..." /> -->
    <!-- <h1 class="text-white fs-3 fw-bolder"></h1>
                <p class="text-white-50 mb-0"></p> -->
    <!-- RE:songtien:1214 -->

    <!-- </header>  -->
    <!-- Content section-->

    <!-- <p class="zhtw text-center">純屬測試</p> -->
    <section class="py-5 fadeIn first mg-back-top15">
        <div class="container my-5">
            <div class="container-left left">
                <iframe width="660" height="372" src="https://www.youtube.com/embed/4YMYRuQ7edU"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="row">

                <h1 class="fadeIn first">Smart Umbrella Stand</h1>
                <h2 class="fadeIn second">Convenience & great experience</h2>
                <div class="myhomebutton"><a href="/"><input type="button-long-dark" class="fadeIn fixth"
                            value="Join Us Now!"></a></div>
                <p class="lead fadeIn third">Allows you to rent an umbrella at any time anywhere</p>
                <p class="mb-0 fadeIn third">Do you always encounter the situation of not bringing an umbrella on a rainy day?
                    Subscribe to our service, our umbrella rental system can help you get rid of this trouble from
                    now and then.</p>

            </div>
        </div>
    </section>

    <div class="text-center mg-back-top25"><input type="button-record" id="tab_001" class="fadeIn second"
        value="Why You Need Us" onclick="javascript:location.href='#tab_01'">
        <input type="button-record" id="tab_002" class="fadeIn third"
            value="Product Intro" onclick="javascript:location.href='#tab_02'">
            <input type="button-record" id="tab_003" class="fadeIn fourth"
                value="Why Choose Us" onclick="javascript:location.href='#tab_03'"></div>

    <hr>

    <div class="bg-grad fadeIn fifth">
        <div class="container-left-body left">
            <div id="blockUserStory">
                <div class="h2 mg-space-top">SUS - Smart Umbrella Stand</div>
                <div class="lead mg-space-top">Was it another day when you went out and found out that you didn’t bring
                    an umbrella? Are you still considering whether to buy an umbrella just for temporary use in a
                    convenience store?</div>
                <div class="p mb-0"><br>This SUS smart umbrella stand service, multi-stand umbrella rental system, can
                    help you solve all of the above problems. You can rent and return your umbrella in real time. It
                    only takes no more than a minute to scan the QRCODE on your mobile phone and experience free
                    umbrella renting services. Subscribers can enjoy more monthly discounts.</div>
            </div>
            <div id="blockUserStory">
                <div class="h2 mg-space-top" id="tab_01">▎Why You Need Us</div>
                <div class="lead mg-space-top">a. Only need a phone to get started<br>
                    b. Free trial every month<br>
                    c. Easily get discounts by dispatch helping<br>
                    d. Automatically email reminding system<br><br></div>
                    <div class="p mb-0">Providing umbrella rental service to meet your urgent need on rainy days. The umbrella you rented at place A can be returned at place B. You don’t have to detour from your original itinerary just because you have to return our umbrella.</div>
                <div class="p mb-0"><br>We not only have multi-stands services, but also provide a map query system that allows users to confirm the current number of umbrellas at each umbrella stand site.</div>
                <div class="p mb-0"><br>You can find the umbrella stand closest to you by inquiring real-time online in advance, and no need to worry that the stand is vacant or full.</div>
            </div>

            <div id="blockUserStory">
                <div class="h2 mg-space-top" id="tab_02">▎Steps to Get Start</div>
                <div class="lead mg-space-top">Rent In Simple Steps:<br></div>
                    <div class="p mb-0 mg-space-top">Step 1　>　Scan the QRCODE<br>
                        Step 2　>　Login our website<br>
                        Step 3　>　Enter stand ID<br>
                        Step 4　>　Get an umbrella and scan its RFID code<br>
                        Step 5　>　Complete your rental<br>
                        Step 6　>　Easily check your rental record<br></div>
            </div>

            <div id="blockUserStory">
                <div class="h2 mg-space-top" id="tab_03">▎Why Choose Us（Some Future Work）</div>
                <div class="lead mg-space-top">1. Only need a phone to get started<br>
                    2. Free trial every month<br>
                    3. Easily get discounts by dispatch helping<br>
                    4. Automatically email reminding system<br></div>
                    <div class="p mb-0 mg-space-top">We are not only a umbrella rental system. In our future planning, the artificial dispatch of umbrellas will be combined with the reward system. Subscribed users can get corresponding rewards by assisting in taking umbrellas to other umbrella stands.This artificial dispatch mechanism can avoid the problem of uneven distribution of umbrellas in our umbrella stands.<br></div>
                    <div class="p mb-0">Don’t worry if you forget to return the umbrella, our SUS system will automatically send a email to remind you.If you cannot return the umbrella on time, or if your times of free rentals trials in the month is exceeded, service charge is required.<br></div>
                    
                </div>

                <div id="block">
                    <div><a href="/"><input type="button-long-dark" class="fadeIn fixth"
                        value="Sponsor Us!"></a>
                        <a href="/signup"><input type="button-long" class="fadeIn fixth"
                            value="Sign Up!"></a>
                    </div>
                    </div>

        </div>

        <!-- <div class="bg-grad">
    <div class="left">
    </div>
    <div class="row fund">
        <div id="blockUserStory" class="h2 zhtw-light">1. 三秒借傘<br><br>2. 突然下雨救急<br><br>3. A地借B地還<br><br>4. 下雨逛街無負擔
        </div></div></div> -->


        <!-- Gallery -->
       
            <div class="row mg-space-top-big fadeIn sixth">

                <div class="col-lg-song mb-4 me-3 mg-space-top">
                    <h3 class="text-center mg-small-space-bot">Product Introduction Videos<br></h3>
                <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container mg-space-top'><iframe src='https://www.youtube.com/embed//FzPjSSO-DPs' frameborder='0' allowfullscreen></iframe></div>
            </div>
                <div class="col-lg-song mb-4 me-3">
                <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed//6NP2QN9ubDE' frameborder='0' allowfullscreen></iframe></div>
                </div>
                <div class="col-lg-song mb-4 me-3">
                    <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed//RTYTiedDw0k' frameborder='0' allowfullscreen></iframe></div>
                    </div>

                <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                    <img src="https://images.plurk.com/52JSiANyVnA1nTzwpo9gWS.png"
                        class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" />

                    <img src="https://images.plurk.com/5pjAFT7n6NOgA5ZXbxLppS.png "
                        class="w-100 shadow-1-strong rounded mb-4" alt="Wintry Mountain Landscape" />
                </div>

                <div class="col-lg-4 mb-4 mb-lg-0">
                    <img src="https://images.plurk.com/5f44EagixmVql4B2G3VUYn.png "
                        class="w-100 shadow-1-strong rounded mb-4" alt="Mountains in the Clouds" />

                    <img src="https://images.plurk.com/5O2isquET5Y3GLlCIZ6Spm.png   "
                        class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" />
                </div>

                <!-- <div class="col-lg-4 mb-4 mb-lg-0 me-3">
                    <img src="https://images.plurk.com/3Q5NiXrQBAqmGlN0S83O4b.png "
                        class="w-100 shadow-1-strong rounded mb-4" alt="Waves at Sea" />

                  
                </div>
                <div class="col-lg-4 mb-4 mb-lg-0 me-3">
                <img src="https://images.plurk.com/1d0MNfQJ84nSehuk5Dgxay.png"
                class="w-100 shadow-1-strong rounded mb-4" alt="Yosemite National Park" />
            <img src="https://images.plurk.com/kzCHsK0K68QoZIA9NxLCT.png"
                class="w-100 shadow-1-strong rounded mb-4" alt="Yosemite National Park" /></div> -->
                <div class="col-lg-song mb-4 me-3">
                <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed/OWwSUhKgdzI' frameborder='0' allowfullscreen></iframe></div>
            </div>
            <div class="col-lg-song mb-4 me-3">
            <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed//Y-cbHNNrlW8' frameborder='0' allowfullscreen></iframe></div>
        </div>
            </div>
       
    
    </div>
    <!-- Gallery -->

















    <!-- Image element - set the background image for the header in the line below-->

    <!-- <div class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/4ulffa6qoKA/1200x800')"> -->
    <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
    <!-- <div style="height: 20rem"></div>
        </div> -->

    <!-- traditional map from google embedded -->
    <!-- <iframe src="https://reurl.cc/6D1NkM" width=100% height="450" style="border:0;" allowfullscreen="true"
        loading="lazy"></iframe> -->

    <!-- <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h2>Engaging Background Images</h2>
                        <p class="lead">The background images used in this template are sourced from Unsplash and are open source and free to use.</p>
                        <p class="mb-0">I can't tell you how many people say they were turned off from science because of a science teacher that completely sucked out all the inspiration and enthusiasm they had for the course.</p>
                    </div>
                </div>
            </div>
        </section> -->

    <!-- 


        
/* ============================================================================ */
/* "                      TRYING TO DRAW A GOOGLE MAP                         " */
/* ============================================================================ */ 
-->

    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script> -->

    <!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBv-9pp8ZbwHBTfqQASnkNEmDDqlb05L9o">
    </script> -->


    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; IOT-SUS 2021</p>
        </div>
    </footer>

    <!-- Core theme JS-->
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />

</body>

</html>


<!-- RE:songtien:1226:js匯入的順序不能亂改會嚴重影響 NAVBAR 跟地圖的載入 -->