<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Smart Umbrella Stand</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@300;500;700;800;900&display=swap" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
        <!-- ========================== -->
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script type="module" src="{{ url_for('static', filename='js/lib/loginform.js') }}"></script>
        <script type="module" src="{{ url_for('static', filename='js/lib/index.js') }}"></script>
        <!-- ========================== -->
    
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/">Smart Umbrella Stand</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item" id="rent_item"><a class="nav-link" href="/rent">Rent</a></li>
                        <li class="nav-item" id="member_item"><a class="nav-link" href="/member">Member</a></li>
                        <li class="nav-item"><a class="nav-link" href="/signup">Sign-up</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/login">Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="wrapper fadeInDown">
            <div id="formContent">
              <!-- Tabs Titles -->
          
              <!-- Icon -->
              <div class="fadeIn first">
                <img src="https://images.plurk.com/6fvh4jzIpRsFPy2c6tKrFK.png" id="icon" alt="User Icon" />
              </div>
          
              <!-- Login Form -->
              <form>
                <input type="text" id="email" class="fadeIn second" name="login" placeholder="email">
                <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
                <input type="button" id="login_button" class="fadeIn fourth" value="Log In">
              </form>
          
              <!-- Remind Passowrd -->
              <div id="formFooter">
                <a class="underlineHover" href="#">Forgot Password?</a>
              </div>
          
            </div>
          </div>
    </body>
</html>
