<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Smart Umbrella Stand</title>
  <!-- Google fonts-->
  <link href="https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@300;500;700;800;900&display=swap"
    rel="stylesheet" type="text/css" />
  <!-- Core theme CSS (includes Bootstrap)-->

  <script src="https:/cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
  <link href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css" rel="stylesheet">
  <script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>


  <!-- ========================== -->
</head>

<body>
  <!-- Responsive navbar-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/" id="brand_item">Smart Umbrella Stand</a>
      <a class="navbar-brand" href="/member#btn_record" id="renting_item" style="display: none;">Renting Now</a>
      <img src="https://images.plurk.com/4uAXyIP1vYbrmCzXrzjS1e.png" style="display: none;" id="renting_icon" alt="Table Icon" />
      

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
          class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
          <li class="nav-item" id="rent_item" style="display: none;"><a class="nav-link" href="/rent">Rent</a></li>
          <li class="nav-item" id="member_item" style="display: none;"><a class="nav-link" href="/member">Member</a>
          </li>
          <li class="nav-item" id="signup_item" style="display: none;"><a class="nav-link" href="/signup">Sign-up</a>
          </li>
          <li class="nav-item" id="login_item" style="display: none;"><a class="nav-link active" aria-current="page"
              href="/login">Login</a></li>
              <li class="nav-item"><a class="nav-link" href="/fund">About</a></li>
        </ul>
      </div>
    </div>
  </nav>



  <div class="wrapper fadeInDown" id="memberFirstPage">
    <div id="formMember">
      <form>

        <div class="fadeIn first">
          <h2><br>Member Info</h2>
          <div class="text-center mg-small-bot"><input type="button-record" id="btn_record" class="fadeIn second"
              value="Rental Record"></div>
          <div class="text-center mg-small-bot"><input type="button-record" id="btn_device" class="fadeIn second"
              value="Device Details"></div>
        </div>

        <!-- <div class="fadeIn first">
          <h2><br>Device Details</h2>
          <div class="text-center mg-small-bot"><input type="button-record" id="btn_device" class="fadeIn second"
              value="Device Details"></div>
        </div> -->

        <label-m>
          <p class="label-txt fadeIn first">EMAIL</p>
          <input type="text-member" class="input fadeIn second" name="email" id="email">
          <div class="line-box">
            <div class="line"></div>
          </div>
        </label-m>
        <label-m>
          <p class="label-txt fadeIn first">NAME</p>
          <input type="text-member" class="input fadeIn second" name="name" id="name">
          <div class="line-box">
            <div class="line"></div>
          </div>
        </label-m>
        <label-m>
          <p class="label-txt fadeIn second">PHONE</p>
          <input type="text-member" class="input fadeIn third" name="phone" id="phone">
          <div class="line-box">
            <div class="line"></div>
          </div>
        </label-m>
        <label-m>
          <p class="label-txt fadeIn second">BIRTHDAY</p>
          <input type="text-member" class="input fadeIn third" name="birthday" id="birthday">
          <div class="line-box">
            <div class="line"></div>
          </div>
        </label-m>
        <label-m>
          <p class="label-txt fadeIn third">SUBSCRIBED</p>
          <input type="text-member" class="input fadeIn fourth" name="subscribed" id="subscribed">
          <div class="line-box">
            <div class="line"></div>
          </div>
        </label-m>
        <label-m>
          <p class="label-txt fadeIn third">ADMIN</p>
          <input type="text-member" class="input fadeIn fourth" name="admin" id="admin">
          <div class="line-box">
            <div class="line"></div>
          </div>
        </label-m>
        <div class="text-center mg-small-top">
          <input type="submit" class="fadeIn fifth" value="Save">
          <input type="button-white" id="logout_button" class="fadeIn fifth" value="Logout">
        </div>
      </form>
    </div>
  </div>

  <!-- 
/* ============================================================================ */
/* "                      JUMP TO MEMBER RENTAL TABLE                         " */
/* ============================================================================ */ 
-->

  <div class="wrapper rent fadeInDown">
    <div id="recordTable">
      <!-- Tabs Titles -->
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="https://images.plurk.com/1lT590zINeILclWXZGCt03.png" id="icon" alt="Table Icon" />

      </div>
      <div class="fadeIn second">
        <h2>My Rental Record<br></h2>
      </div>
      <div>
        <p class="text-center fadeIn second mr-to h4 mg-space-top">Number of Rentals</p>
        <input type="text-number" disabled="disabled" class="input fadeIn third" name="number" id="number"><br><br>
      </div>

      <!-- Rental Table -->
      <form>

        <table class="table table-borderless table-hover fadeIn fourth" id="myRecordTable">

        </table>

        <br><br>

    </form>
  </div>
<!-- 
/* ============================================================================ */
/* "                      JUMP TO DEVICE DETAIL TABLE                         " */
/* ============================================================================ */ 
-->
    <div id="deviceTable">
      <!-- Tabs Titles -->
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="https://images.plurk.com/6fmecMWh0FCc1treC7Evu4.png" id="icon" alt="Table Icon" />

      </div>
      <div class="fadeIn second">
        <h2>Device Details Table<br></h2>
      </div>

      <form>
        <table class="table table-borderless table-hover fadeIn fourth" id="deviceDetailTable"></table>
        <br><br>
      </form>
    </div>
  </div>



<!-- 
/* ============================================================================ */
/* "                                  JS                                      " */
/* ============================================================================ */ 
-->


  <script type="module">
    import { member } from '../static/js/lib/member.js';
    import { umbrellaTable } from '../static/js/lib/umbrella.js';

    window.onload = () => {
      member.checkLogined();
      umbrellaTable.get();
    };
  </script>
  <!-- ========================== -->
  <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <!-- <script type="module" src="{{ url_for('static', filename='js/lib/index.js') }}"></script> -->
  <script type="module" src="{{ url_for('static', filename='js/lib/member.js') }}"></script>
</body>

</html>