<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Smart Umbrella Stand</title>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@300;500;700;800;900&display=swap"
        rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />

    <!-- ========================== -->
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/" id="brand_item">Smart Umbrella Stand</a>
            <a class="navbar-brand" href="/member#btn_record" id="renting_item" style="display: none;">Renting Now</a>
            <img src="https://images.plurk.com/4uAXyIP1vYbrmCzXrzjS1e.png" style="display: none;" id="renting_icon" alt="Table Icon" />
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item" id="rent_item" style="display: none;"><a class="nav-link" href="/rent">Rent</a>
                    </li>
                    <li class="nav-item" id="member_item" style="display: none;"><a class="nav-link"
                            href="/member">Member</a></li>
                    <li class="nav-item" id="signup_item" style="display: none;"><a class="nav-link"
                            href="/signup">Sign-up</a></li>
                    <li class="nav-item" id="login_item" style="display: none;"><a class="nav-link"
                            href="/login">Login</a></li>
                            <li class="nav-item"><a class="nav-link" href="/fund">About</a></li>                
                </ul>
            </div>
        </div>
    </nav>

    <!-- 
/* ============================================================================ */
/* "                        RENT ENTER DEVICEID PAGE                          " */
/* ============================================================================ */ 
-->

    <div class="wrapper rent fadeInDown">
        <div id="formDevice">
            <!-- Tabs Titles -->
            <!-- Icon -->
            <div class="fadeIn first">
                <img src="https://images.plurk.com/6fmecMWh0FCc1treC7Evu4.png" id="icon" alt="Device Icon" />

            </div>

            <div class="fadeIn second">
                <h2>Enter Umbrella Stand ID<br></h2>
            </div>
            <!-- Rental Form -->
            <form>
                <input type="text" id="input_device_id" class="fadeIn third" name="input_device_id"
                    placeholder="umbrella stand id">
                <br><br>
                <input type="button-rent" id="btn_next" class="fadeIn fourth" value="Next">
            </form>
        </div>



        <!-- 
/* ============================================================================ */
/* "                        JUMP PAGE TO DEVICE INFO                          " */
/* ============================================================================ */ 
-->


        <div id="formRent">
            <!-- Tabs Titles -->
            <!-- Icon -->
            <div class="fadeIn first">
                <img src="https://images.plurk.com/3qZTxaKunikKpiVMyaKRkA.png" id="icon" alt="Info Icon" />

            </div>

            <div class="fadeIn first">
                <h2>Device Info<br><br></h2>
            </div>
            <!-- Rental Form -->
            <form>
                <label-m>
                    <p class="label-txt fadeIn second">UMBRELLA STAND ID</p>
                    <input type="text-device" id="device_id" class="input fadeIn second" name="id">
                </label-m>
                <label-m>
                    <p class="label-txt fadeIn second">LOCATION</p>
                    <input type="text-device" id="location" class="input fadeIn second" name="location">
                </label-m>
                <label-m>
                    <p class="label-txt fadeIn second">AVAILABLE NOW</p>
                    <input type="text-device" id="amount" class="input fadeIn third" name="amount">
                </label-m>

                <!-- 
/* ============================================================================ */
/* "                      這邊RENT按鈕按下去現在是 LOADING                      " */
/* ============================================================================ */ 
-->

                <input type="button-rent" id="btn_rent" class="fadeIn third" value="Rent Now">
            </form>

            <div class="text-center" id="divBuffer">
                <div class="spinner-border text-secondary" role="status">
                    <div class="col-md-5"><br><br></div>
                    <!-- <span class="sr-only">Loading...</span> -->
                </div>
            </div>
            <div class="text-center text-secondary" id="divLoading">
                <span class="sr-only">　Loading......<br><br></span>
            </div>
        </div>
        <!-- 
/* ============================================================================ */
/* "                         THE RENT SUCCESS PAGE                           " */
/* ============================================================================ */ 
-->

        <div id="formSuccess">
            <!-- Tabs Titles -->
            <!-- Icon -->
            <div class="fadeIn first">
                <img src="https://images.plurk.com/17SgoePIv8joccikZTVJDC.png" id="icon" alt="Success Icon" />

            </div>

            <div class="fadeIn first">
                <h2>Rent Successfully!<br></h2>
            </div>
            <!-- Rental Form -->
            <form>
                <a href='/'><input type="button-success" id="btn_next" class="fadeIn second" value="Back to Home"></a>
            </form>
        </div>

        <div id="formFail">
            <!-- Tabs Titles -->
            <!-- Icon -->
            <div class="fadeIn first">
                <img src="https://images.plurk.com/3vUahGcRFj4dMshemNyNHH.png" id="icon" alt="Fail Icon" />

            </div>

            <div class="fadeIn first">
                <h2>Error! Rent Failed :(<br></h2>
            </div>
            <!-- Rental Form -->
            <form>
                <a href='/rent'><input type="button-success" id="btn_next" class="fadeIn second"
                        value="Back to Rent"></a>
            </form>
        </div>





        <!-- 
/* ============================================================================ */
/* "                        LINK TO MYJAVASCRIPT SRC                          " */
/* ============================================================================ */ 
-->

        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
        <script type="module">
            import { index, device } from '../static/js/lib/index.js';
            import { rent } from '../static/js/lib/rent.js';
            import { umbrellaTable } from '../static/js/lib/umbrella.js';

            window.onload = () => {
                index.checkLogined();
                rent.polling();
                umbrellaTable.get();
            };
        </script>
        <!-- ========================== -->
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <!-- <script type="module" src="{{ url_for('static', filename='js/lib/index.js') }}"></script> -->
        <script type="module" src="{{ url_for('static', filename='js/lib/rent.js') }}"></script>
</body>

</html>